@model Event.Models.RegisterViewModel
@{
    ViewBag.Title = "הרשמה";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>יצירת חשבון חדש</h4>
    <p>אם יש לך כבר חשבון, תוכל  <a href="/Account/Login" class="color-green">להכנס כאן</a> </p>

    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
    </div>
    <div class="form-group">
        <div id="sandbox-container" class="col-md-10">
            @Html.TextBoxFor(m => m.Birthday, new { @class = "form-control", @dir="ltr" })
        </div>
        @Html.LabelFor(m => m.Birthday, new { @class = "col-md-2 control-label" })
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
    </div>

    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            <input type="submit" class="btn btn-default" value="הירשם" />
        </div>
    </div>
}

@Styles.Render("~/Content/date")
@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/date")
<script type="text/javascript">
    $('#sandbox-container input').datepicker({
        format: "dd MM yyyy",
        autoclose: true,
        todayHighlight: true
    });
</script>

}