@using Microsoft.AspNet.Identity
@using Event.Helpers

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="glyphicon glyphicon-log-out"></i>&nbsp;&nbsp;התנתק</a></li>
        <li>
            @Html.ActionLinkIcon("ניהול", "Manage", "Account", "glyphicon glyphicon-user", htmlAttributes: new { title = "Manage" })
        </li>
        @*<li>
           שלום @Html.Label(User.Identity.GetUserName()) !          
        </li>*@
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLinkIcon("הרשמה", "Register", "Account", "glyphicon glyphicon-edit", new { id = "registerLink" })</li>
        <li>@Html.ActionLinkIcon("כניסה", "Login", "Account", "glyphicon glyphicon-log-in", new { id = "loginLink" })</li>
    </ul>
}
